# Docker. Uncomment to correctly pull containers on Apple M chips
# DOCKER_DEFAULT_PLATFORM=linux/amd64

DIAL_URL=http://localhost:8080
DIAL_API_KEY=dial_api_key

REMOTE_DIAL_URL=http://dial-proxy.dial-proxy
REMOTE_DIAL_API_KEY=

DB_HOST=localhost
DB_NAME=postgres
DB_USERNAME=postgres
DB_PASSWORD=postgres

ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=elastic

LOG_LEVEL=INFO
LOG_USE_COLORS=true
FASTMCP_LOG_ENABLED=false

# disable usage tracking for unstructured
DO_NOT_TRACK=true
