# Docker. Uncomment to correctly pull containers on Apple M chips
# DOCKER_DEFAULT_PLATFORM=linux/amd64

REMOTE_DIAL_URL=http://dial-proxy.dial-proxy
REMOTE_DIAL_API_KEY=

ELASTICSEARCH_URL=http://localhost:9200

LOG_LEVEL=INFO
LOG_USE_COLORS=true

# disable usage tracking for unstructured
DO_NOT_TRACK=true
